@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
	font-family: "Poppins", serif;
}

#article-list::-webkit-scrollbar {
	width: 0.8em;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(235, 235, 235);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(203, 203, 203);
	border-radius: 10em;
}
